/**/.idea/
/**/.vscode/
/.git/
/service/
/tmp-src/

/doc/*
!/doc/developer-data-sfera.dia
!/doc/sql_primer
!/doc/howto-docker
!/doc/diagram-table

!/doc/task/project?
#!/doc/task/registry-data-sfera
!/doc/task/registry-data-sfera/tz-registry-data-sfera
